<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
<connectionStrings>
    <add name="RestaurantModel" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=RestaurantManagerSystem.RestaurantModel;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
        providerName="System.Data.SqlClient" />
    <add name="RestaurantManagerSystem.Properties.Settings.RestaurantConnectionString"
        connectionString="Data Source=WINDOWS-PC;Initial Catalog=Restaurant;Integrated Security=True;TrustServerCertificate=True"
        providerName="System.Data.SqlClient" />
</connectionStrings></configuration>